.nav {
  width: 15rem;
  height: 100vh;
  position: fixed;
  z-index: 55;
  background-color: rgb(34, 34, 34);
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;

  .lig {
    @include picture(75%, 2px, 15px);
    background-color: #e2bc53;
    position: absolute;
    top: 32rem;
    left: 2.7rem;

    &:hover {
      background-color: #9c720000;
    }
  }

  h1 {
    font-size: 33px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #e2bc53;
    margin-left: 1.7rem;
    margin-top: 1.5rem;

    .logo {
      @include picture(43px, 43px, 50%);
    }
  }

  ul {
    position: absolute;
    top: 4.7rem;
    width: 100%;


    li {
      font-size: 20px;
      cursor: pointer;
      color: #e2bc53;
      margin-top: 1.7rem;
      height: 2.4rem;
      padding: 4px 10px 4px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      &:hover {
        background-color: #9c7300;
        color: #533f06;


      }




      .h1 {
        font-size: 18px;
        position: relative;
        color: #e2bc53;
        top: -3.1rem;
        left: 1rem;


      }



      .lig1 {
        @include picture(100%, 2px, 15px);
        background-color: #e2bc53;
        position: relative;
        top: -1rem;

        &:hover {
          background-color: #9c720000;
        }
      }

      h3 {
        font-size: 19.6px;
        font-style: italic;
        margin-top: 1rem;
        margin-left: -1rem;
        width: 100%;
        padding: 0;
        background-color: #9c720000;

        &:hover {
          background-color: #9c720000;
        }
      }


    }



    .user {
      position: relative;
      left: -0.2rem;
      top: 1.7rem;

      #h2 {
        margin-top: 1rem;
        margin-left: 2rem;
      }

      .i1 {
        border: 1px solid;
        padding: 7px;
        border-radius: 50%;
      }
    }
  }

}