



.welcome{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  left: 0%;
  top: 0rem;


  .bg {
      position: relative;
      height: 140%;
      width: 2000px;
      top: 9.7rem;
      left: 52%;
      transform: translate(0%, -18rem);
      background-image: url('../assets/couv.jpg');
      background-size: contain;
      border-radius: 50%;
      object-fit: contain;
      z-index: 6;

        img{
          position: relative;
          top: 17rem;
          width: 32rem;
          height: 32rem;
          left: 2rem;
        }
  }

}